:root {
  --white: #ffffff;
  --dark-orange: #F26722;
  --charcoal: #2E2E2F;
}

.about-page {
  width: 100%;
  height: 800px; /* Adjust height as needed for full display */
  background-position: center;
  background-size: cover;   /* Fill the section without stretching */
  background-repeat: no-repeat;
  border-radius: 8px;       /* optional rounded corners */
  margin: 60px 0;           /* space above and below */
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .about-page {
    height: 400px;
  }
}

@media (max-width: 900px) {
  .about-page {
    height: 300px;
  }
}

@media (max-width: 600px) {
  .about-page {
    height: 200px;
  }
}
